###################
## Project-specific
###################
config.ini
.htpasswd
instances/


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

